footer{
    clear: both;
	  position: relative;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 25px;
  	background-color: #B49B57;
  	margin:0px;
    width: 100%;
  	.copyright{
  		float: left;
      vertical-align: center;
  	}
}