header{
  .navbar-brand{
    font-size:24px;
    margin-right: 50px;
    margin-left: 50px;
    color:#332b00;
    font-weight:900px;
    line-height: 17px;
    span{
      font-size:14px;
    }
  }
  font-size: 18px;
	position: absolute;
  z-index: 999999;
	top:0;
  	right: 0;
  	left: 0;
  	padding: 0.2rem;
  	background-color: #B49B57;
  	text-align: center;
  	li{
  		margin-left: 10px;
      a{
        font-weight:500px;
      }
  	}
}